<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment :: head">

</head>
<body>
<header th:replace="/fragments/fragment :: navigation"></header>

<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">

                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Register</h3>
                                <form th:method="POST" th:action="@{/events/add}" id="contactForm" name="contactForm" class="contactForm" th:object="${addEventBindingModel}"  enctype="multipart/form-data">
                                    <div class="section-title">
                                        <h4>Upload Picture</h4>
                                    </div>

                                    <div class="form-row" enctype="multipart/form-data">
                                        <div class=" offset-md form-group">
                                            <input type="file" th:field="*{image}"  id="image" name="image">

                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Name</label>
                                                <input th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" type="text" class="form-control" name="name" id="name" placeholder="name..."
                                                       th:value="*{name}">
                                                <small th:if="${#fields.hasErrors('name')}" class="text-danger"
                                                       th:errors="*{name}"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="place">Place</label>
                                                <input th:field="*{place}" th:classappend="${#fields.hasErrors('place')}? 'is-invalid'" type="text" class="form-control" name="place" id="place" placeholder="place...">
                                                <small th:if="${#fields.hasErrors('place')}" class="text-danger"
                                                       th:errors="*{place}"></small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="price">Price</label>
                                                <input th:field="*{price}" th:classappend="${#fields.hasErrors('price')}? 'is-invalid'" type="text" class="form-control" name="price" id="price" placeholder="price...">
                                                <small th:if="${#fields.hasErrors('price')}" class="text-danger"
                                                       th:errors="*{price}"></small>
                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="submit" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<footer th:replace="/fragments/fragment :: footer"></footer>

<div th:replace="/fragments/fragment :: script" ></div>
</body>
</html>