<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment :: head">

</head>
<body>
<header th:replace="/fragments/fragment :: navigation"></header>

<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">

                    <div class="row no-gutters">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Register</h3>
                                <form
                                        th:object="${newPuppy}"
                                        th:method="PATCH"
                                        th:action="@{/puppies/edit/{id}(id=*{id})}" id="contactForm" name="contactForm"
                                        class="contactForm" enctype="multipart/form-data">


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="description">Description</label>
                                            <input th:field="*{description}"
                                                   th:classappend="${#fields.hasErrors('description')}? 'is-invalid'"
                                                   type="text" class="form-control" name="price" id="description"
                                                   placeholder="description...">
                                            <small th:if="${#fields.hasErrors('description')}" class="text-danger"
                                                   th:errors="*{description}"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="price">Price</label>
                                            <input th:field="*{price}"
                                                   th:classappend="${#fields.hasErrors('price')}? 'is-invalid'"
                                                   type="text" class="form-control" name="price" id="price"
                                                   placeholder="price...">
                                            <small th:if="${#fields.hasErrors('price')}" class="text-danger"
                                                   th:errors="*{price}"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="contact">Contact</label>
                                            <input th:field="*{contact}"
                                                   th:classappend="${#fields.hasErrors('contact')}? 'is-invalid'"
                                                   type="text" class="form-control" name="contact" id="contact"
                                                   placeholder="contact...">
                                            <small th:if="${#fields.hasErrors('contact')}" class="text-danger"
                                                   th:errors="*{contact}"></small>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="submit" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

</section>


<footer th:replace="/fragments/fragment :: footer"></footer>

<div th:replace="/fragments/fragment :: script"></div>
</body>
</html>