<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment :: head">

</head>
<header th:replace="/fragments/fragment :: navigation"></header>
<body>


<main class="p-5 align-content-center bg-blur">
    <img src="/images/error.jpg" >
    <p class="text-dark">
        Ups... it seems that we made a small mistake! <br/>
        Please excuse us, we are working on it...
    </p>

</main>

<footer th:replace="/fragments/fragment :: footer"></footer>

 <div th:replace="/fragments/fragment :: script" ></div>
</body>


</html>