<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment :: head">

</head>
<header th:replace="/fragments/fragment :: navigation"></header>
<body>


 <section class="ftco-section">
   <div class="container">
       <div class="row">
           <div th:each="d : ${AllUsersWithRoleUserOrClient}"  th:object="${d}" class="col-md-4 ftco-animate">


                   <div class="desc w-100 px-4">
                       <div class="text w-100 mb-3">
                           <span>Name</span>
                           <h2 th:text="*{username}" th:value="*{username}">  </h2>
                       </div>
                   </div>


               <a th:href="@{/users/update/(id=*{id})}"
                  class="btn btn-primary d-block px-2 py-3">Update to ADMIN</a>
           </div>
       </div>
   </div>
</section>

<footer th:replace="/fragments/fragment :: footer"></footer>

 <div th:replace="/fragments/fragment :: script" ></div>
</body>


</html>